@import "tailwindcss";
@import "tw-animate-css";

/* Hide scrollbar */
::-webkit-scrollbar {
	display: none;
}

/* Text outline */
::-webkit-text-stroke {
	color: var(--color-accent-charcoal);
}

@theme {
	/* Font Family */
	--font-primary: var(--font-azeret-mono);
	--font-secondary: var(--font-anton);
	--font-cursor: var(--font-barlow);

	/* Colors */
	--color-accent-charcoal: #21242a;
	--color-accent-linen: #f9f4eb;
	--color-accent-lavender: #e5daf6;
	--color-accent-cotton-candy: #ffd2f3;
	--color-accent-apricot: #fcdca6;
}

@layer base {
	body {
		/* Typography */
		font-family: var(--font-primary);
		font-size: 14px;
		font-weight: 500;
		color: var(--color-accent-charcoal);

		/* Visual */
		background-color: var(--color-accent-linen);
	}
}

@layer utilities {
	.layout-primary {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.title {
		font-family: var(--font-secondary);
		font-size: 80px;
		line-height: 1;
		font-weight: 400;
		color: var(--color-accent-charcoal);
	}

	.text-primary {
		font-family: var(--font-primary);
		font-size: 14px;
		line-height: 0;
		font-weight: 500;
		color: var(--color-accent-charcoal);
	}
}
